@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v40-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/open-sans-v40-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/open-sans-v40-latin-700.woff2') format('woff2');
}

:root {
  --main-color: #333;
  --secondary-color: #666;
  --placeholder-color: #999;
  --black-color: #000;
  --white-color: #fff;
  --form-bg: #fffefe;
  --input-bg: #f5f5f5;
  --btn-bg: #089fe0;
  --checkbox-border-color: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.7px;

  background: linear-gradient(
      225deg,
      rgb(253, 197, 197) 25.45%,
      rgba(242, 152, 222, 0) 100%
    ),
    linear-gradient(
      225deg,
      rgb(255, 165, 165) 33.09%,
      rgba(255, 255, 255, 0) 82.34%
    ),
    #f39494;

  color: var(--black-color);
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--btn-bg);
  text-decoration: none;
}

h1 {
  font-size: 36px;
  padding: 0;
  margin: 0;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  border-radius: 5px;
}

input {
  font-weight: 600;
  background-color: var(--input-bg);
  color: var(--main-color);
  padding: 9px 11px;
  border: 1px solid var(--input-bg);
}

input:focus {
  background-color: var(--form-bg);
  outline: none;
}

::placeholder {
  font-weight: 400;
  font-style: italic;
  color: var(--placeholder-color);
}

.login {
  font-size: 18px;
  margin-bottom: 47px;
  margin: 0 0 47px;
}

.login-link {
  text-decoration: underline;
}

.login,
.terms {
  color: var(--secondary-color);
}

.registration {
  max-width: 582px;
  background-color: var(--form-bg);
  text-align: center;
  padding: 72px 95px 91px 93px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

#firstname,
#lastname {
  width: 50%;
}

#firstname {
  border-right: 1px solid var(--white-color);
}

#lastname {
  border-left: 1px solid var(--white-color);
}

.btn {
  font-size: 18px;
  background-color: var(--btn-bg);
  color: var(--white-color);
  padding: 9px 22px;
  border: 1px solid var(--btn-bg);

  display: flex;
  align-items: center;
}

.btn-text {
  margin: 0 56px 0 auto;
}

.arrow {
  width: 22px;
}

.terms {
  font-size: 14px;
  color: var(--secondary-color);
  margin-right: auto;
}

.custom-checkbox + label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.custom-checkbox {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.custom-checkbox + label::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: var(--input-bg);
  border: 1px solid var(--checkbox-border-color);
  border-radius: 5px;
}

.custom-checkbox:checked + label::before {
  content: '✔';
  background-color: var(--btn-bg);
  color: var(--white-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
