:root {
  box-sizing: border-box;

  --font-size-15: 0.9375rem;
  --font-size-17: 1.0625rem;
  --font-size-18: 1.125rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;

  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;
  --font-weight-black: 900;

  --black-color: #000;

  --white-color: #fff;
  --white-color-16: rgba(255, 255, 255, 0.16);
  --white-color-50: rgba(255, 255, 255, 0.5);
  --white-color-60: rgba(255, 255, 255, 0.6);
  --white-color-70: rgba(255, 255, 255, 0.7);
  --white-color-80: rgba(255, 255, 255, 0.8);

  --accent-color: #357efe;
  --footer-bg-color: #1a1d25;
  --text-gray-color: #4e5d7c;
  --text-gray-color-50: rgba(78, 93, 124, 0.5);
  --badge-discount-color: #1abc9c;
  --badge-price-color: #ffc736;

  --border-radius-8: 8px;
  --border-radius-13: 13px;

  --content-width: 1392px;
  --min-content: 328px;

  --container-gap: 1.5rem;

  --container-inner-width: calc(100% - var(--container-gap) * 2);
  --container-inner-max-width: var(--content-width);

  --container-outer-width: 100%;
  --container-outer-max-width: calc(
    var(--content-width) + var(--container-gap) * 2
  );
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-17);
  font-weight: 500;
  line-height: 1.4;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style: none;
}

/* UTILITIES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-uppercase {
  text-transform: uppercase;
}

/*
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

-> Small devices
-> Medium devices (tablets)
-> Large devices (desktop)
-> XL devices
-> XXL devices
*/

/*
100 Thin
200 ExtraLight
300 Light
400 Regular
*/
