.sell-points {
  margin-block: 48px 48px;
}

.sell-points__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 32px;
}

.sell-point {
  /* поведение как в CSS Grid - 3-й элемент не центрируется */
  /* flex: 1 1 var(--min-content); */
  /* центрирование третьего элемента */
  flex: 0 0 var(--min-content);

  display: flex;
  align-items: center;
  gap: 24px;
}

.sell-point img {
  width: 48px;
  height: 48px;
}

.sell-point__title {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  margin-block: 24px;
}

@media (min-width: 768px) {
  /* при одновременном отключении свойства выше */
  /* .sell-points__container {
    justify-content: center;
  } */
}

@media (min-width: 1200px) {
  .sell-points {
    margin-block: 80px 80px;
  }

  .sell-points__container {
    gap: 0; /* добавление 3-го элемента без сворачивания содержимого */
  }

  .sell-point {
    /* добавление 3-го элемента без сворачивания содержимого */
    flex: 1;

    /* воздух между элементами при добавлении в ряд */
    gap: 17px;
  }

  .sell-point img {
    width: 64px;
    height: 64px;
  }

  .sell-point__title {
    font-size: var(--font-size-24);
    margin-block: 24px 20px;
  }
}
