.comparison {
  font-size: 1.125rem;
  color: var(--white-color-80);
  background-color: var(--accent-color);
  padding-block: 64px;
}

.comparison__container {
  max-width: calc(1156px + var(--container-gap) * 2);
}

.comparison__container > * {
  margin-inline: auto;
}

.comparison__title,
.comparison__list-title {
  line-height: 1.2;
  color: var(--white-color);
  margin-block-end: 24px;
}

.comparison__title {
  font-size: 2.25rem;
  font-weight: 500;
}

.comparison__list-title {
  font-weight: 700;
}

.comparison__desc {
  max-width: 1156px;
  margin-block-end: 32px;
}

.comparison__img {
  margin-block: 40px 46px;
  scale: 1.05;
}

.comparison__lists {
  max-width: 920px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 47px;
}

.comparison__list-wrapper {
  flex: 1 0 var(--min-content);
}

.comparison__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.comparison__list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comparison__list img {
  width: 24px;
  height: 24px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .comparison__title,
  .comparison__desc {
    text-align: center;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .comparison {
    padding-block: 120px;
  }

  .comparison__title {
    font-size: 3rem;
  }

  .comparison__desc {
    margin-block: 40px;
  }

  .comparison__img {
    margin-block: 56px;
  }
}

@media (min-width: 1400px) {
}
