.plans {
  padding-block: 48px 32px;
}

.plans__title {
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-semiBold);
  line-height: 1.2;
  margin-block-end: 24px;
}

.plans__desc {
  color: var(--text-gray-color-50);
  margin-block-end: 32px;
}

.plans__grid {
  max-width: 1156px;
  padding: 10px;
  margin-inline: auto;

  display: grid;
  grid-template-columns: minmax(var(--min-content), 369px);
  gap: 24px;
  justify-content: center;
  align-content: center;
}

@media (min-width: 576px) {
  .plans__title,
  .plans__desc {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .plans__grid {
    grid-template-columns: repeat(2, minmax(var(--min-content), 369px));
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .plans {
    padding-block: 80px 40px;
  }

  .plans__title {
    font-size: var(--font-size-48);
  }

  .plans__desc {
    margin-block-end: 40px;
  }

  .plans__grid {
    grid-template-columns: repeat(3, minmax(var(--min-content), 369px));
  }
}

@media (min-width: 1400px) {
}
